@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* Font from Google Fonts */

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.main-div {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.main-head {
    font-size: 2.8rem;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

#search-field {
    text-align: left;
    padding: 15px 250px 15px 25px;
    font-size: 1.4rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgb(117, 117, 117);
}

#search-field:focus {
    text-align: left;
    padding: 15px 250px 15px 25px;
    font-size: 1.4rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
}

#search-field::placeholder {
    font-size: 1.2rem;
}

#search-btn {
    background-color: black;
    outline: none;
    border: 2px solid black;
    color: aliceblue;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: rgb(36, 35, 35);
    transition: 0.5s ease-in-out;

}

.word-suggestion {
    display: flex;
    gap: 30px;
    font-size: 1.2rem;
}

.word-suggestion span {
    padding: 10px 30px;
    border-radius: 5px;
}

.word-suggestion span:hover {
    padding: 10px 30px;
    cursor: pointer;
    background-color: rgba(172, 172, 172, 0.548);
    color: rgb(0, 0, 0);
}

.meaning-div {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.meaning-div h1 {
    font-size: 1.5rem;
    color: rgb(71, 71, 71);
}

.meaning-div h1 span {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.meaning-div h2 {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
}

